.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
/* App.css */
.content-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  padding: 20px;
}

.left-panel,
.right-panel {
  flex-basis: 48%; /* Set initial width of panels */
  margin-bottom: 20px; /* Add margin between panels */
}

@media screen and (max-width: 900px) {
  .left-panel,
  .right-panel {
    flex-basis: 100%; /* Set full width for panels on smaller screens */
  }
}

